#pokemonStats {
    max-width: 400px;
    margin: 1rem auto;
    border-radius: 1rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

#pokemonStats:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    transition: 0.2s;
}

#back {
    padding: 8px;
}

#header {
    padding: 8px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#header #name {
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 0.3rem;
}

#header .detail {
    margin-left: 10px;
}

#header .type {
    font-size: 0.8rem;
}

#header img {
    display: block;
    margin: auto;
    max-width: 45%;
}

#stats {
    margin: 8px;
    height: 300px;
}